/* Estilo para o modal */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: auto;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 600;
    color: #333;
    text-align: center;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.modal-button {
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-button:hover {
    background-color: #0056b3;
}

.modal-button.cancel {
    background-color: #6c757d;
}

.modal-button.cancel:hover {
    background-color: #5a6268;
}

@media (max-width: 600px) {
    .modal {
        width: 90%;
        padding: 10px;
    }
    
    .modal-form {
        gap: 10px;
    }

    .form-buttons {
        flex-direction: column;
        gap: 5px;
    }

    .modal-button {
        width: 100%;
    }
}
.container-filter-buttons {
    margin-bottom: 20px; /* Ajuste o valor conforme necessário */
}