/* menu.css */
.lateral-menu {
    width: 10%;
    height: 100vh;
    background-color: rgba(208, 169, 51, 0.3);
    position: fixed;
    top: 6%;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-menu-link,
.produtos-button {
    width: 100%;
    display: flex;
    text-align: center;
}

.main-menu-link {
    background-color: #D0A933;
    justify-content: center;
    padding: 4% 4%;
    font-size: 0.8em;
    text-decoration: none;
    margin-bottom: 3%;
    border-radius: 3px;
}

.main-menu-link:hover {
    background-color: rgba(208, 169, 51, 0.5);
}

.home-icon {
    width: 20%;
    height: 20%;
}

.produtos-button {
    background-color: #520005;
    color: #fff;
    font-weight: bold;
    padding: 6%;
    border: none;
    font-size: 1.2em;
    border-radius: 3px;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 1%;
}

.produtos-button:hover {
    background-color: rgba(208, 169, 51, 0.5);
    color: #520005;
}

.submenu {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.submenu.mostrar {
    max-height: 200px;
}

.submenu li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9em;
    display: block;
    padding: 6.5%;
}

.submenu li a:hover {
    color: rgba(208, 169, 51, 1);
    font-weight: bold;
}

.submenu li a.active {
    background-color: rgba(82, 0, 5, 0.8);
}

.submenu li a:not(.active) {
    background-color: rgba(82, 0, 5, 0.5);
}

.submenu li {
    margin-bottom: 1px;
}